.text-green{
    color: green;
}
.text-red{
    color: red;
}
.bg-yellow{
    background-color: yellow;
}
.px4{
    padding-left: 1rem;
}
.py2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.text-sm{
    font-size: 0.875rem;    
}
